#header {
    background-image: url('https://i.redd.it/xdc6rxp6yt021.png');
    background-size: cover;
    background-position:left;
    background-repeat: no-repeat;
    justify-content: center;
    align-content: center;
    height: 600px; 
    width: 100%;
    padding: 20px;
}

.headerText {
    margin: 10px;
    height: 100px;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-family: "Tagesschrift", system-ui;
    text-shadow: 0 0 3px rgb(255, 255, 255);
    text-decoration-line: underline overline;
    color: rgba(255, 0, 0, 0.767);
    background-color: rgba(170, 169, 169, 0.315);
    border-radius: 10px;
}

#firstHeading{
    margin-top: 80px;
    border-top: solid 3px rgba(255, 0, 0, 0.315);
}

#demogorgon{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
}

#demogorgon img{
    object-fit: cover;
}