#header {
    background-image: url('https://t3.ftcdn.net/jpg/14/41/67/26/360_F_1441672618_IORPW8GAR1xc5SrQzcBfqQtX9Z874Tod.jpg');
    background-size: cover;
    background-position:left;
    background-repeat: no-repeat;
    justify-content: center;
    align-content: center;
    height: 600px; 
    width: 100%;
    padding: 20px;
}

.headerText {
    margin: 10px;
    height: 100px;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-weight: 32px;
    color: rgba(255, 0, 0, 0.767);
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.527);
}